@page
@model OnlineBookstore.SignOnModel
@{
    ViewData["Title"] = "注册";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册- 网上书店</title>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    @if (Model.Ok)
    {

        <div class="box">
            <h2>注册成功</h2>
            <form>
                <div align="center" style="position:relative;top:10px">
                    <button class="button-index" type="submit" asp-page="/Login/login">返回登录页面</button>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="box">
            <h2>网上书店系统登录</h2>
            <form method="post">
                <div class="inputBox">
                    <input type="text" asp-for="_User.UserName">
                    <label>用户名</label>
                    <span asp-validation-for="_User.UserName" class="text-danger"></span>
                    @if (Model.retype)
                    {<span class="text-danger">用户名已存在，请重新输入</span>}

                </div>
                <div class="inputBox">
                    <input type="password" asp-for="_User.Pwd">
                    <label>密码</label>
                    <span asp-validation-for="_User.Pwd" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit">注册</button>
                    <button class="border-right" type="submit" asp-page="/index">返回主页</button>
                </div>
            </form>
        </div>
    }
</body>
</html>